 {{#each list}}

<div class="card-item">
    <div class="card-img" style="background-image: url('{{imgUrl}}');" >
        <div class="wine-color {{colorType}}"></div>
            <div class="wine-raiting">&#9733;{{rating}}&#9733;</div>
    </div>
    <h3>{{name}}</h3>
    <div class="card-text">
        <p>
            <span class="bold-text">Цвет:</span>
            Пурпурный.
        </p>
        <p>
            <span class="bold-text">Аромат:</span>
            Ноты чёрной смородины.
        </p>
        <p>
            <span class="bold-text">Вкус:</span>
            Сбалансированный, немного танинный.
        </p>
        <p>
            <span class="bold-text">Происхождение:</span>
            Крым, Массандра.
        </p>
        <p>
            <span class="bold-text">Цена:</span>
            {{priceText}} &#8381;
        </p>
        <p>
            <span class="bold-text">Примечание:</span>
            Молодое крымское вино. Молодое крымское вино.
            Молодое крымское вино. Молодое крымское вино.
            Молодое крымское вино. Молодое крымское вино.
            Молодое крымское вино. Молодое крымское вино.
        </p>
    </div>
    <p class="more-info">Подробнее...</p>
</div>
{{/each}}